In [3]:
import numpy as np
import pandas as pd

In [4]:
test = pd.read_csv('test_joke_df_nofactrating.csv')
train = pd.read_csv('train_joke_df.csv')
sample = pd.read_csv('sample_submission.csv')

In [5]:
test.head()

   InteractionID    UID  JID
0              0  11228   39
1              1  21724   85
2              2  16782   56
3              3  12105   42
4              4  14427    2

In [6]:
train.head()

     UID  JID  Rating
0  18029    6   -1.26
1   3298   64   -4.17
2   3366   58    0.92
3  12735   92    3.69
4  11365   38   -6.60

In [7]:
sample.head()

   InteractionID  Rating
0              0     0.0
1              1     0.0
2              2     0.0
3              3     0.0
4              4     0.0